/* @media (max-width: 768px) {
    .testimonial {
      flex-direction: column; 
      align-items: flex-start;
    }
    
    .testimonial-video iframe {
      max-width: 100%;
    }
  } */

@media (max-width: 992px) {
  .video-card {
    grid-template-columns: repeat(2, 1fr); /
  }
}
  

@media (max-width: 576px) {
  .video-card {
    grid-template-columns: 1fr; 
  }
}
