/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Arvo:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variables */
:root {
  --main-colar: #f7b78c;
  --main-white: #fff7e3;
  --main-black: #000000;
  --main-blue: #4e6081;

  --colar-accent: #ffa185;
  --blue-accent: #d9d9d9;
  --dark-blue: #1c2c3c;
  --dark-blue-accent: #2e343f;
  --white-accent: #fff7e3;

  --main-ff: "Arvo", sans-serif;
  --secondary-ff: "Montserrat", sans-serif;
}

/* General */
.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", sans-serif;
  background-color: var(--main-blue);
}

/* Header */
.header {
  padding: 20px 0;
  position: fixed;
  background-color: var(--main-blue);
  width: 100%;
  z-index: 2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  background-color: var(--main-blue);
  width: 100%; */
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-colar);
}

.nav ul {
  display: flex;
  gap: 20px;
}

.nav ul li a {
  color: var(--main-colar);
  font-family: var(--secondary-ff);
  font-weight: 500;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease, transform 0.3s ease;
}

.nav ul li a:hover {
  color: var(--colar-accent);
  transform: translateY(-3px);
}

.nav ul li a.active::before {
  content: "";
  height: 2px;
  width: 30px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-colar);
}

/* Home Section */
.home {
  padding: 100px 0;
}

.home__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.home__content {
  max-width: 600px;
  font-family: var(--secondary-ff);
}

.home__content h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: var(--main-colar);
  font-weight: 700;
}

.home__content p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-white);
}

.home__button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;

  background-color: var(--main-colar);
  color: var(--dark-blue);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.home__button:hover {
  background-color: #ee9866;
  transform: translateY(-3px);
}

.home__button:active {
  background-color: #ee9866;
}

.home__image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home__image img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Trust Section */
.trust {
  background-color: var(--dark-blue);
  padding-top: 60px;
  width: 100%;
}

.trust__content h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;

  color: var(--main-white);
}

.trust__content h2 span {
  color: var(--main-colar);
}

.trust__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 100px;
  justify-content: center;
}

.trust__card {
  max-width: 320px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.trust__card:hover {
  transform: translateY(-5px);
}

.trust__card img {
  max-width: 300px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.trust__card h3 {
  color: var(--main-colar);
  margin-bottom: 30px;
  font-size: 1.7rem;
  text-align: center;
}

.trust__card p {
  color: var(--main-white);
  line-height: 1.4;
  font-family: var(--secondary-ff);
  font-weight: 300;
}

/* Trust Section (Logos) */
.trust__logos {
  padding: 20px 0;
  background-color: var(--main-colar);
}

.logos__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  align-items: center;
  justify-content: center;
}

.logos__inner img {
  height: 70px;
}

/* Feedback Section */
.feedback {
  padding: 50px;
  background-color: var(--white-accent);
}

.feedback__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.feedback__card.first {
  margin-bottom: 30px;
}

.feedback__card.second {
  flex-direction: row-reverse;
}

.feedback__heading {
  padding: 50px;
  font-size: 3.2rem;
  font-weight: 700;

  color: var(--main-blue);
}

.feedback__card-text {
  flex: 1;
  min-width: 300px;
}

.feedback__card-text h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;

  color: var(--main-blue);
}

.feedback__card-text p {
  color: var(--main-black);
  font-weight: 400;
  font-family: var(--secondary-ff);
}

.feedback__card-video {
  flex: 1;
  min-width: 300px;
}

/* Videos */
.videos {
  padding: 60px;
}

.videos h2 {
  padding: 100px;
  text-align: center;

  color: var(--main-white);
  font-size: 3rem;
}

.video-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Get Started */
.get-started {
  padding: 60px;
  background-color: var(--main-colar);
}

.get-started__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started__inner h2 {
  margin-bottom: 60px;
  font-size: 3rem;
  color: var(--dark-blue-accent);
}

.get-started__inner a {
  display: inline-block;
  padding: 20px 30px;
  width: 200px;
  text-align: center;
  border-radius: 40px;
  font-weight: 400;

  color: var(--main-colar);
  font-family: var(--secondary-ff);
  background-color: var(--dark-blue-accent);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started__inner a:hover {
  background-color: var(--main-blue);
  transform: translateY(-5px);
}

/* Footer */
.footer {
  padding: 50px;
  background-color: var(--white-accent);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__inner a {
  font-family: var(--secondary-ff);
}

.footer__inner p {
  font-family: var(--secondary-ff);
}

.say-hello {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--main-blue);
}

.say-hello h3 {
  font-size: 1.8rem;
  color: var(--main-blue);
}

.explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  color: var(--main-blue);
}

.explore h3 {
  font-size: 1.8rem;
  color: var(--main-blue);
}

.media {
  display: flex;
  flex-direction: column;
  width: 16%;
  gap: 30px;
  color: var(--main-blue);
}

.media h3 {
  font-size: 1.8rem;
  color: var(--main-blue);
}

/* SERVICES ==========> */
/* Services hero */
.services-hero {
  background-image: url(../images/services_main.jpg);
  background-position: 50% 32%;
  background-size: cover;
  background-repeat: no-repeat;

  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.services-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: 1;
}

.services-hero h2 {
  z-index: 2;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--main-colar);
}

/* Features */
.features {
  padding-top: 60px;
}

.features__content h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 700;

  color: var(--main-white);
}

.features__content h2 span {
  color: var(--main-colar);
}

.feature__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 100px;
  justify-content: center;
}

.feature__card {
  max-width: 320px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.feature__card:hover {
  transform: translateY(-5px);
}

.feature__card img {
  max-width: 300px;
  min-height: 246.8px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.special {
  filter: brightness(75%);
}

.feature__card h3 {
  color: var(--main-colar);
  margin-bottom: 30px;
  font-size: 1.7rem;
  text-align: center;
}

.feature__card p {
  color: var(--main-white);
  line-height: 1.4;
  font-family: var(--secondary-ff);
  font-weight: 300;
}

/* Services */
.services {
  padding: 50px;
  background-color: var(--white-accent);
}

.service__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 30px;
}

.service__card:nth-child(even) {
  flex-direction: row-reverse;
}

.services__heading {
  padding: 50px;
  font-size: 3.2rem;
  font-weight: 700;

  color: var(--main-blue);
}

.service__card-text {
  flex: 1;
  min-width: 300px;
}

.service__card-text h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;

  color: var(--main-blue);
}

.service__card-text p {
  color: var(--main-black);
  font-weight: 400;
  font-family: var(--secondary-ff);
}

.service__card-video {
  flex: 1;
  min-width: 300px;
}

/* Services underground */
.services__underground {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
}

.services__underground-content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 30%;
}

.services__underground-content h3 {
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--main-blue);
}

.services__underground-content p {
  font-weight: 400;
  font-family: var(--secondary-ff);
  color: var(--main-black);
}

/* PRICING ==================> */
/* Pricing hero */
.pricing__hero {
  background-image: url(../images/pricing_main.jpg);
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;

  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pricing__hero::before {
  content: "";
  z-index: 1;
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.pricing__hero h2 {
  z-index: 2;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--main-colar);
}

/* Pricing main */
.pricing__main {
  padding-bottom: 100px;
  background-color: var(--main-white);
}

.pricing__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 120px;
  gap: 20px;
}

.pricing__heading h2 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark-blue-accent);
}

.pricing__heading p {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--secondary-ff);
  color: var(--dark-blue-accent);
}

.pricing__cards {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.pricing__card {
  display: flex;
  gap: 30px;
}

.pricing__card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.pricing__card-text h2 {
  font-weight: 700;
  font-size: 2rem;

  color: var(--dark-blue-accent);
}

.pricing__card-text p {
  font-size: 1rem;
  color: var(--dark-blue-accent);
  font-family: var(--secondary-ff);
}

.pricing__card-text ul {
  padding: 10px;
  font-family: var(--secondary-ff);
  color: var(--dark-blue-accent);
}

.pricing__card-text > ul {
  list-style: disc;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
}

.pricing__card-vid {
  min-width: 300px;
}

/* CONTACT ==========> */
/* Contact hero */
.contact__hero {
  background-color: var(--main-black);
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;

  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .contact__hero::before {
  content: '';
  z-index: 1;
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
} */

.contact__hero h2 {
  z-index: 2;
  font-weight: bold;
  font-size: 3.5rem;
  color: var(--main-colar);
}

/* Contact main */
.contact__main {
  padding: 100px;
  background-color: var(--main-white);
}

.contant__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__main-work {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 40%;
}

.contact__main-work h2 {
  font-size: 2rem;
  color: var(--dark-blue-accent);
}

.contact__main-work p {
  color: var(--dark-blue-accent);
  font-family: var(--secondary-ff);
}

.contact__main-general {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact__main-general h2 {
  font-size: 2rem;
  color: var(--dark-blue-accent);
}

.contact__main-general p {
  font-family: var(--secondary-ff);
  color: var(--dark-blue-accent);
}

.contact__main-general a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--dark-blue-accent);
  font-family: var(--secondary-ff);
  cursor: pointer;
}
